[submodule "Relay_Shield"]
	path = Relay_Shield
	url = https://github.com/yexiaobo-seeedstudio/Relay_Shield.git
[submodule "WIFI_Shield"]
	path = WIFI_Shield
	url = https://github.com/yexiaobo-seeedstudio/WIFI_Shield.git
[submodule "TFT_Touch_Shield"]
	path = TFT_Touch_Shield
	url = https://github.com/yexiaobo-seeedstudio/TFT_Touch_Shield.git
[submodule "Ethernet_Shield_V2.0"]
	path = Ethernet_Shield_V2.0
	url = https://github.com/yexiaobo-seeedstudio/Ethernet_Shield_V2.0.git
[submodule "E-ink_Display_Shield"]
	path = E-ink_Display_Shield
	url = https://github.com/yexiaobo-seeedstudio/E-ink_Display_Shield.git
[submodule "Music_Shield"]
	path = Music_Shield
	url = https://github.com/yexiaobo-seeedstudio/Music_Shield.git
